





.titredepage
{
    text-align: center;
}

body
{
    background-color:rgb(24, 24, 24) ;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: tahoma;
    
}
main
{
width: 80vw;
min-height:80vh ;
border:solid black 2px ;
margin-left: 10vw;
margin-top: 10vh;


}

/****NAV****/
nav
{
    position: left;
    top: 5px;
    display:flex;
    gap:50px 50px ;
    align-content: center;
    height: 50px;
    align-items: center;
    margin-left: 2px;
}
nav a{
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration:none;
    color:#FFFFFF;
    padding:16px;
    font-size:14px;
}
/****NAV****/

a
{
text-decoration:none ;
color:rgb(0, 0, 0);
padding:10px 30px;
font-size:large;
border-radius: 10px;
background-color: rgb(44, 44, 44) ;
background-position:50% 50%;
}

a:hover
{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(184, 178, 178, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.9s;
    -webkit-transition-property: transform;
    transition-property: transform;
    
    
    
}

.elm {
    text-decoration:none ;
    color:rgb(245, 142, 142);
    padding:10px 30px;
    font-size:large;
    border: solid white 2px;
    border-radius: 20px;
    background-color: rgb(24, 24, 24) ;
    background-position:50% 50%;
    position: relative;
    min-height: 400px;
}


h1
{
    text-align: center;
    color: rgb(211, 211, 211);
}



#texteformulaire
{
    border: 2px solid rgb(255, 255, 255);

}


.photodemoi
{
    position: absolute;
    width: 200px;
    height: 260px;
    left: 40%;
    border-radius: 10px;
    border: 1px solid white;

}
